page-summary {

    .geomap {
        position: relative;
        height:40%;
        width:100%;
        margin:auto;
        z-index: 1;
    }
    #filter_button{
        position: absolute;
        height:30px;
        width:30px;
        top: 1%;
        right: 1%;
        z-index: 9000;
    }

    #selector_menu{
        position: absolute;
        top: 2%;
        left: 2%;
        height:90%;
        width:40%;
        z-index: 9000;
    }

    #filter_items {
       border: 1px;
      }
}

   
 
