page-summary {

    .geomap {
        position: relative;
        height:40%;
        width:100%;
        margin:auto;
        z-index: 1;
    }
    #filter_button{
        position: absolute;
        height:30px;
        width:30px;
        top: 1%;
        right: 1%;
        z-index: 9000;
    }

    #selector_menu{
        position: absolute;
        top: 2%;
        left: 2%;
        height:90%;
        width:40%;
        z-index: 9000;
    }
    .accordion-list {
        background: color($colors, light);
        //height: 50%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #ffc400;
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
}

   
 
