page-summary {
    .cardTemp    {
        height: 50%;
        width: 50%;
        margin-top:20px;
        margin-bottom: 20px;
        margin-left:auto;
        margin-right: auto;
    }

    .geomap {
        height:50%;
        width:100%;
        margin:auto;
        z-index: 1;
    }

    .overlay {
        z-index: 1000;
    }
}
